.usageCard {
    border: 2px solid #ffffff;
    padding: 20px;
    text-align: center;
}

.driveInCard {
    border: 2px solid #ffffff;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    display: inline-block;
}

.btn-custom {
    color: #ffffff;
    box-shadow: "5px 5px 3px rgba(0,0,0,1)";
    border-color: #ffffff;
    border-radius: 0%;
}

.defaultInput {
    text-align: center;
    padding: 5px;
    background: transparent;
    border-width: 0 0 2px;
    border-color: black;
}

.defaultInput:focus {
    border-width: 0 0 2px;
    background: transparent;
    border-color: green;
}

.error {
    text-align: center;
    padding: 5px;
    background: transparent;
    border:1px solid red;
    color: red;
}

.menuContainer {
    display: flex;
}

.buttonContainer {
    display: block;
}


.infoSide {
    width: 25%;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    height: 100%;
    color: #ffffff;
}

.mainSide {
    width: 30%;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    height: 100%;
}

.spaceCard {
    text-align: center;
    color: #ffffff;
}