.usageCard {
    border: 2px solid #ffffff;
    padding: 20px;
    text-align: center;
}

.driveInCard {
    border: 2px solid #ffffff;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    display: block;
    width: 60%;
}

.defaultInput {
    text-align: center;
    padding: 5px;
    background: transparent;
    border-width: 0 0 2px;
    border-color: rgba(255, 255, 255, 0.425);
    color: white;
}

.defaultInput:hover {
    border-width: 0 0 2px;
    background: transparent;
    border-color: green;
    outline-width: 0;
}

.defaultInput:focus {
    outline: none;
    border-width: 0 0 2px;
    background: transparent;
    border-color: green;
    outline-width: 0;
}

.error {
    text-align: center;
    padding: 5px;
    background: transparent;
    border:1px solid red;
    color: red;
}

.menuContainer {
    display: flex;
    width: 100%;
}

.buttonContainer {
    display: block;
}


.infoSide {
    width: 25%;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    height: 100%;
    color: #ffffff;
}

.mainSide {
    width: 30%;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    height: 100%;
    display: flex;
}

.priceCard {
    color: white;
    display: block;
    outline: 2px solid white;
    padding: 20px;
    margin-right: 20px;
    margin-top: 2px;
    width: 100%;
    text-align: center;
}

.spaceCard {
    text-align: center;
    color: #ffffff;
}

.driveInButton {
    color: rgb(130,247,139,177);
    box-shadow: "5px 5px 3px rgb(97,145,100,1.14)";
    border-color: rgb(130,247,139,177);
    border-radius: 0%;
}

.driveInButton:hover {
    color: white;
    border-color: white;
}

.vLine {
    background: #fff;
    height: 400px;
    margin-top: 10px;
    margin-right: 40px;
    margin-left: -80px;
    box-shadow: inset 100px 0px 100px -50px #D4D4CC, 
              inset -100px 0px 100px -50px #D4D4CC;
    /* margin-right: 20px;
    margin-left: -100px; */
}

