.Administration {
    display:-webkit-flex;
}

.InfoPage {
    display: block;
    width: 30%;
    margin-left: 50px;
}

.InfoContainer {
    border: 2px solid #ffffff;
    margin-top: 90px;
    padding: 20px;
    text-align: center;
    color: white;
    display: block;
    height: 80%;
    padding-right: 30px;
    padding-left: 30px;
}

.LotCard {
    border: 3px solid rgb(130,247,139,177);
    /* border-radius: 12px; */
    height: 100%;
    text-align: center;
    margin-right: 10px;
    width: 100px;
    height: 120px;
    display: block;
    color: rgb(130,247,139,177);
    margin: 10px;
}

.LotCardSelected {
    border: 3px solid white;
    /* border-radius: 12px; */
    height: 20%;
    text-align: center;
    margin-right: 10px;
    width: 100px;
    height: 120px;
    display: block;
    margin: 10px;
    color: white
}

.LotCard:hover {
    border: 3px solid white;
    color: white
}

.LotCardUsed {
    border: 3px solid #bd0404;
    /* border-radius: 12px; */
    height: 20%;
    text-align: center;
    margin-right: 10px;
    width: 100px;
    height: 120px;
    display: block;
    color: #bd0404;
    margin: 10px;
}

.LotCardUsed:hover {
    border: 3px solid white;
    color: white
}

.LotCardContainer {
    margin-top: 10px;
    display: block;
    width: 45%;
}

.LotCardRow {
    display: flex;
    width: 100%;
    margin-top: 5px;
}

.licensePlate {
    border: 2px solid #ffffff;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    color: white;
    display: blocK;
}

.pageButton {
    outline: none;
    background: transparent;
    color: white;
    border: none;
}

.floors {
    margin-top: 132px;
    border: none;
    margin-right: 240px;
}

.floor {
    padding: 2px;
    color: white;
    cursor: pointer;
    text-align: center;
    display: block;
    opacity: 60%;
}

.floorSelected {
    padding: 2px;
    color: white;
    cursor: pointer;
}

.paging {
    height: 100%;
    margin-left: -200px;
    margin-right: 50px;
    margin-top: 10%;
}

.pageCounter {
    color: white;
    margin-bottom: -50%;
}

.driveOutButton {
    color: #bd0404;
    border-color: #bd0404;
    width: 60%;
    height: 12%;
    border-radius: 0%;
}

.driveOutButton:hover {
    color: white;
    border-color: white;
}

.lotHeader {
    color: white;
    margin: 20px;
}

.separator {
    border: 1px solid white;
    margin-top: 5px;
    margin-bottom: -10px;
    opacity: 50%;
}

.welcomeToast {
    color: rgb(130,247,139,177);
}