.Administration {
    display: flex;
}

.InfoPage {
    display: block;
    width: 30%;
    margin-left: 50px;
}

.InfoContainer {
    border: 2px solid #ffffff;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    color: white;
    display: blocK;
    height: 80%;
}

.LotCard {
    border: 2px solid rgb(130,247,139,177);
    border-radius: 12px;
    height: 20%;
    text-align: center;
    margin-right: 10px;
    width: 50px;
    height: 60px;
    display: block;
    color: rgb(130,247,139,177);
}

.LotCardSelected {
    border: 2px solid #bd0404;
    border-radius: 12px;
    height: 20%;
    text-align: center;
    margin-right: 10px;
    width: 50px;
    height: 60px;
    display: block;
}

.LotCardContainer {
    margin-top: 10px;
    display: block;
    width: 60%;
}

.LotCardRow {
    display: flex;
    width: 100%;
    margin-top: 5px;
}

.licensePlate {
    border: 2px solid #ffffff;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    color: white;
    display: blocK;
}