

.navBar {
    background-color: rgba(47, 47, 47, 69);
}

html {
    background-color: rgba(73, 73, 73, 69);
}

.app {
    background-color: rgba(73, 73, 73, 69);
}

.navbar-brand {
    color: #ffffff;
}

.navbar-brand:hover {
    color: rgb(130,247,139,177);
}

.navButton {
    margin-right: 10px;
    color: #ffffff;
    box-shadow: "5px 5px 3px rgb(97,145,100,1.14)";
    border-color: #ffffff;
    border-radius: 0%;
}