.history {
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
}

.stats {
    color: white;
    border: 3px solid white;
    height: 50%;
    padding: 20px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

.tableNav {
    display: flex;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    align-items: baseline;
}

.tableNavButton {
    outline: none;
    background: transparent;
    color: white;
    border: none;
}

.tableNavButton:hover {
    outline: none;
    background: transparent;
    color: white;
    border: none;
}

.tableNavButton:active {
    outline: none;
    background: transparent;
    color: white;
    border: none;
}

.tableNavButton:focus {
    outline: none;
    background: transparent;
    color: white;
    border: none;
}

.historyTable {
    margin-right: 30px;
    color: white;
    display: block;
}

.historyTableTable {
    color: white;
}

.tableItem {
    border-bottom: 1px solid white;
    padding-right: 30px;
}

.tableLine {
    text-align: center;
}

.headerForTable {
    color: white;
    padding: 2px;
    border-bottom: 2px solid white;
}

.headerForTable:hover {
    cursor: pointer;
}

.filterCard {
    color: white;
    height: 50%;
    padding: 20px;
    text-align: center;
    display: flex;
}

.labels {
    display: block;
}

.regDefaultInput {    
    margin-bottom: 20px;
    text-align: center;
    background: transparent;
    border-width: 0 0 2px;
    border-color: rgba(255, 255, 255, 0.425);
    color: white;
}

.regDefaultInput:focus {
    outline: none;
    border-width: 0 0 2px;
    background: transparent;
    border-color: white;
    outline-width: 0;
}

.filterContainer {
    border: 3px solid white;
    color: white;
    text-align: center;
    padding: 10px;
}

.filterButton {
    color: rgb(130,247,139,177);
    box-shadow: "5px 5px 3px rgb(97,145,100,1.14)";
    border-color: rgb(130,247,139,177);
    border-radius: 0%;
}

.filterButton:hover {
    color: white;
    border-color: white;
}

.permaCheck {
    color: rgb(130,247,139,177);
    margin-top: 14px;
    
}